@import 'switch.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --dark-color: rgba(145, 125, 126);
    --dark-color-3: rgba(145, 125, 126, 0.3);
    --dark-color-8: rgba(145, 125, 126, 0.8);
    --light-color: rgba(255, 255, 255);
    --light-color-3: rgba(255, 255, 255, 0.3);
    --light-color-8: rgba(255, 255, 255, 0.8);
    --primary-color: rgba(255, 182, 193);
    --shadow-color: rgba(218, 144, 147);
    --shadow-color-3: rgba(218, 144, 147, 0.3);
    --background-color: var(--dark-color);
    --box-shadow: 0.2rem 0.2rem 0.6rem grey;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

/* Track */
*::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--light-color);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--shadow-color);
}

:focus {
    // box-shadow: 0 0 0 1px var(--shadow-color);
}

html {
    height: 100%;
    overflow: auto;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: var(--light-color);
    &:hover {
        color: var(--shadow-color);
    }
}

body {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat';
    color: var(--dark-color);
    h1,
    h4 {
        font-family: 'Merriweather';
    }
}


/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/montserrat-v14-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../fonts/montserrat-v14-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/montserrat-v14-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/montserrat-v14-latin-regular.svg#Montserrat')
            format('svg'); /* Legacy iOS */
}


/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('../fonts/merriweather-v21-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE6-IE8 */ url('../fonts/merriweather-v21-latin-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../fonts/merriweather-v21-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('../fonts/merriweather-v21-latin-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../fonts/merriweather-v21-latin-regular.svg#Merriweather')
            format('svg'); /* Legacy iOS */
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes wiggleLogo {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(180deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
