*,
*::after,
*::before {
    box-sizing: border-box;
}

:focus {
    all: unset;
    border-style: solid;
    border-color: cyan;
}

body {
    padding: 0;
    margin: 0;
    background: lightgrey;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
    font-family: "Consolas";
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: "Consolas";
    src: url("../fonts/Consolas.woff2") format("woff2");
}

// Common Components

.bio {
    display: flex;
    flex-flow: row wrap;
    .avatar {
        border-radius: 50%;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem;
        a {
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
            &:hover {
                color: grey;
            }
        }
    }
}

// Layout

.layout {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        overflow-x: hidden;
        margin-top: 3rem;
        padding: 2rem 1rem 2rem 1rem;
    }
    .footer {
        box-shadow: 0 -5px 10px black;
        z-index: 10;
        align-self: flex-end;
        width: 100vw;
        display: flex;
        height: 3rem;
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            padding: 0.5rem;
            font-size: 1rem;
            text-decoration: none;
            color: white;
            &:hover {
                color: grey;
            }
        }
    }
}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    width: 100vw;
    height: 3rem;
    background: black;
    color: white;
    box-shadow: 0 5px 10px black;
    .navLogo {
        height: 3rem;
        width: 7rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        &:hover {
            color: grey;
        }
        .logoImg {
            width: 2rem;
        }
    }
    .navToggle {
        display: none;
    }
    .navMenu {
        .navItem {
            padding: 0.5rem;
            font-size: 1rem;
            color: white;
            &:hover {
                color: grey;
            }
        }
    }
}

@media (max-width: 30rem) {
    .navBar {
        transition: height 0.25s ease-in-out;
        height: 3rem;
        .navMenu {
            transition: opacity 0.25s;
            opacity: 0;
            visibility: hidden;
        }
        .navToggle {
            display: block;
            position: absolute;
            right: 1rem;
            top: 0.5rem;
            padding: 0;
            margin: 0;
            width: 20px;
            &::after,
            &::before,
            div {
                background-color: #fff;
                border-radius: 2px;
                content: "";
                display: block;
                height: 2px;
                margin: 6px 0;
                transition: all 0.5s ease-in-out;
            }
        }
        &.open {
            height: 100vh;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .navToggle {
                transition: all 0.5s ease-in-out;
                &::before {
                    transform: translateY(8px) rotate(135deg);
                }

                &::after {
                    transform: translateY(-8px) rotate(-135deg);
                }

                div {
                    transform: scale(0);
                }
            }
            .navMenu {
                height: 100vh;
                margin-top: 3rem;
                transition: opacity 0.5s;
                opacity: 1;
                visibility: visible;
                width: 100%;
                border-style: solid none none none;
                border-width: 1px;
                border-color: white;
                align-items: stretch;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                .navItem {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    height: 4rem;
                    border-style: none none solid none;
                    border-width: 1px;
                    border-color: grey;
                    &:hover {
                        background: white;
                    }
                }
            }
        }
    }
}


// BlogPage

.blogPage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 70rem;
    max-width: 95vw;
    .tile {
        display: flex;
        flex-direction: column;
        width: 30rem;
        max-width: 90vw;
        min-height: 10rem;
        border-radius: 10px;
        border-style: solid;
        border-color: grey;
        margin: 1rem;
        padding: 1rem;
        cursor: pointer;
        a {
            height: 100%;
            width: 100%;
            text-decoration: none;
            color: black;
        }

        &:hover {
            background: grey;
        }
    }
}

// AboutPage

.aboutPage {
    display: flex;
    flex-direction: column;
    background: white;
    width: calc(100vw - 10rem);
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px 10px black;
    .avatar {
        border-radius: 50%;
    }
    .content {
        text-align: center;
        max-width: 50rem;
    }
    .intro {
        a {
            display: block;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            cursor: ne-resize;
            &:hover {
                color: grey;
            }
            .icon {
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}

@media (max-width: 60rem) {
    .aboutPage {
        width: calc(100vw - 2rem);
    }
}

// Templates

// BlogPost

.blogPost {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .container {
        header {
            width: 100%;
            &::after {
                opacity: 0.5;
                max-width: 100%;
                background-color: grey;
                content: "";
                display: block;
                height: 1px;
                margin: 5px 5% 5px 5%;
                transition: all 0.5s ease-in-out;
            }
        }
        .content {
            width: 100%;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        padding: 1rem;
        background: white;
        box-shadow: 5px 5px 10px black;
    }
    footer {
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        background: white;
        box-shadow: 5px 5px 10px black;
    }
}

@media (max-width: 50rem) {
    .blogPost {
        width: calc(100vw - 3rem);
    }
}
