@import 'switch.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --dark-color: black;
    --light-color: white;
    --light-color-3: rgb(255, 255, 255, 0.3);
    --shadow-color: grey;
    --shadow-color-3: rgba(128, 128, 128, 0.3);
    --background-color: lightgrey;
    --box-shadow: 0.2rem 0.2rem 0.6rem var(--shadow-color);
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

/* Track */
*::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--dark-color);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--shadow-color);
}

:focus {
    all: unset;
    border: 1px solid var(--shadow-color);
}

body {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
    font-family: 'Consolas';
    color: var(--dark-color);
    a {
        text-decoration: none;
        color: var(--dark-color);
        &:hover {
            color: var(--shadow-color);
        }
    }
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas.woff2') format('woff2');
}

// Common Components

.bio {
    display: flex;
    flex-flow: row wrap;
    .avatar {
        border-radius: 50%;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem;
        a {
            text-decoration: none;
            font-size: 1.5rem;
            color: var(--dark-color);
            &:hover {
                color: var(--shadow-color);
            }
        }
    }
}
