.artCollection {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    color: var(--light-color);
    .container {
        background: linear-gradient(
            to bottom,
            var(--dark-color),
            var(--dark-color-8)
        );
        width: 100%;
        max-width: 60rem;
        header {
            width: calc(100% - 2rem);
            margin: 1rem;
            margin-bottom: 0;
            border-style: none none solid none;
            border-width: 1px;
            border-color: var(--shadow-color-3);
        }
        .content {
            // font-family: 'Helvetica';
            .contentItem {
                margin: 0.5rem 0;
            }
            margin: 0.5rem;
            width: calc(100% - 1rem);
            p {
                display: flex;
                word-break: break-word;
            }
            img {
                width: auto;
                height: auto;
                max-width: 100%;
            }
        }
    }
    footer {
        h4 {
            margin: 0;
            // font-family: 'Consolas';
        }
        // font-family: 'Helvetica';
        width: 100%;
        margin: 2rem 0;
        max-width: 60rem;
        padding: 1rem 1rem;
        a {
            color: var(--light-color);
            &:hover {
                color: var(--shadow-color);
            }
        }
        background: linear-gradient(
            to bottom,
            var(--dark-color),
            var(--dark-color-8)
        );
    }
}
