.indexPage {
    padding: 0;
    .intro {
        display: none;
    }
    section .title {
        .arrow {
            margin-left: 0.5rem;
            opacity: 0;
            font-size: 1rem;
            visibility: hidden;
        }
        &:hover {
            .arrow {
                margin-left: 0.5rem;
                opacity: 1;
                visibility: visible;
            }
        }
        a {
            text-align: right;
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            color: var(--dark-color);
            .viewMore {
                font-size: 0.8rem;
                width: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.25s, width 0.5s;
                transition-delay: all 0.25s;
            }
            &:hover {
                .viewMore {
                    margin-left: 0.5rem;
                    width: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .roll {
        display: grid;
        width: 100%;
        grid-template-columns: initial;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: hidden;
        grid-auto-columns: calc(33% - 2rem);
        margin-bottom: 0.5rem;
        column-gap: 0.5rem;
    }
}

@media (max-width: 40rem) {
    .indexPage {
        section .title {
            .arrow {
                font-size: 0.75rem;
                opacity: 1;
                visibility: visible;
            }
            a {
                font-size: 1rem;
                .viewMore {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

@media (max-width: 70rem) {
    .indexPage {
        .roll {
            display: grid;
            width: auto;
            min-width: 100%;
            grid-template-columns: initial;
            grid-auto-flow: column;
            overflow-x: auto;
            overflow-y: hidden;
            grid-auto-columns: calc(50% - 2rem);
        }
    }
}
