.indexPage {
    section .title {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0 1rem;
        height: 3rem;
        font-size: 1.5rem;
        border-style: none none solid none;
        border-width: 1px;
        border-color: var(--shadow-color-3);
        a {
            text-align: right;
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            color: var(--dark-color);
            &:hover {
                color: var(--shadow-color);
            }
        }
    }

}
