.layout {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    .main {
        position: relative;
        padding-left: 6rem;
        float: right;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        height: auto;
        overflow-x: hidden;
        .footer {
            z-index: 10;
            margin-top: auto;
            width: 100%;
            min-height: 4rem;
            height: 4rem;
            background: var(--dark-color);
            color: var(--light-color);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a {
                padding: 0.5rem;
                font-size: 1rem;
                text-decoration: none;
                color: var(--light-color);
                &:hover {
                    color: var(--shadow-color);
                }
            }
            padding-right: 1rem;
        }
    }
}

@media (max-width: 40rem) {
    .layout {
        .main {
            padding-left: 0;
            .footer {
                display: flex;
                margin: auto auto 0 auto;
                width: 0;
                justify-content: center;
            }
        }
    }
}
