.navBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 6rem;
    height: 100vh;
    background: var(--dark-color);
    color: var(--light-color);
    box-shadow: var(--box-shadow);
    .navLogo {
        height: 6rem;
        width: 6rem;
        display: flex;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        left: 1rem;
        top: 0;
        color: var(--light-color);
        svg {
            height: 100%;
            width: 100%;
        }
        &:hover {
            color: var(--shadow-color);
        }
        .logoImg {
            width: 4rem;
        }
    }
    .navToggle {
        display: none;
        cursor: pointer;
            padding: 0;
            margin: 0;
            width: 1.2rem;
            &::after,
            &::before,
            div {
                background-color: var(--light-color);
                border-radius: 2px;
                content: '';
                display: block;
                height: 2px;
                margin: 6px 0;
                transition: all 0.5s ease-in-out, background-color 0.25s;
            }
            &:hover {
                &::after,
                &::before,
                div {
                    background-color: var(--shadow-color);
                }
            }
    }
    .navMenu {
        display: flex;
        flex-direction: column;
        .navItem {
            padding: 0.5rem;
            font-size: 1rem;
            color: var(--light-color);
            &:hover {
                color: var(--shadow-color);
            }
        }
    }
    .social {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        a {
            display: block;
            text-decoration: none;
            color: var(--light-color);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            &:hover {
                color: var(--shadow-color);
            }
            .icon {
                font-size: 2rem;
            }
        }
    }
}


@media (max-width: 40rem) {
    .navBar {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        transition: height 0.25s ease-in-out;
        flex-direction: row;
        width: 100%;
        height: 4rem;
        .switchContainer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding-right: 3rem;
            height: 4rem;
            width: auto;
            transition: 0.5s;
        }
        .navLogo {
            position: fixed;
            bottom: 0;
            top: auto;
            left: 0;
            height: 4rem;
            width: 4rem;
        }
        .navMenu {
            transition: opacity 0.25s;
            opacity: 0;
            visibility: hidden;
        }
        .navToggle {
            position: fixed;
            top: auto;
            bottom: 1rem;
            right: 1rem;
            display: block;
        }

        .social {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            flex-direction: row;
            height: 4rem;
            width: 100%;
            margin: 0;
            transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
        }
        &.open {
            z-index: 15;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .navLogo {
                z-index: 16;
            }

            .navToggle {
                transition: all 0.5s ease-in-out;
                &::before {
                    transform: translateY(8px) rotate(135deg);
                }

                &::after {
                    transform: translateY(-8px) rotate(-135deg);
                }

                div {
                    transform: scale(0);
                }
            }
            .navMenu {
                margin-top: 4rem;
                height: calc(100% - 8rem);
                transition: opacity 0.5s;
                opacity: 1;
                visibility: visible;
                width: 100vw;
                align-items: stretch;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .navItem {
                    font-size: 1.5rem;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    height: 4rem;
                    &:hover {
                        background: var(--light-color);
                    }
                    &:not(:first-child) {
                        border-style: solid none none none;
                        border-width: 1px;
                        border-color: var(--shadow-color-3);
                    }
                }
            }
            .social {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media (min-width: 40rem) and (max-height: 30rem) {
    .navBar {
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: auto;
        width: 4rem;
        transition: height 0.25s ease-in-out;
        height: 100vh;
        .switchContainer {
            position: fixed;
            bottom: 3rem;
            right: auto;
            left: 1rem;
            padding-right: 3rem;
            height: 4rem;
            width: auto;
            transition: 0.5s;
        }
        .navLogo {
            position: fixed;
            top: 0;
            bottom: auto;
            right: auto;
            left: 0;
            height: 4rem;
            width: 4rem;
        }
        .navMenu {
            transition: opacity 0.25s;
            opacity: 0;
            visibility: hidden;
        }
        .navToggle {
            position: fixed;
            top: auto;
            bottom: 1rem;
            left: 1.4rem;
            display: block;
        }

        .social {
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            left: auto;
            flex-direction: column;
            width: 4rem;
            height: 100vh;
            margin: 0;
            transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
        }
        &.open {
            z-index: 15;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .navLogo {
                z-index: 16;
            }

            .navToggle {
                transition: all 0.5s ease-in-out;
                &::before {
                    transform: translateY(8px) rotate(135deg);
                }

                &::after {
                    transform: translateY(-8px) rotate(-135deg);
                }

                div {
                    transform: scale(0);
                }
            }
            .navMenu {
                height: 100vh;
                width: calc(100% - 8rem);
                transition: opacity 0.5s;
                opacity: 1;
                visibility: visible;
                align-items: stretch;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .navItem {
                    font-size: 1.5rem;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    height: 4rem;
                    &:hover {
                        background: var(--light-color);
                    }
                }
            }
            .social {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
