.navBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 4rem;
    height: 100%;
    color: var(--dark-color);
    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--light-color);
        box-shadow: var(--box-shadow);
    }
    .switch:hover {
        animation: wiggle 0.5s;
    }
    .navLogo {
        height: 4rem;
        width: 4rem;
        display: flex;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        left: 1rem;
        top: 0;
        #logoSvg {
            display: block;
            height: 100%;
            width: 100%;
            background: transparent;
            transition: 0.1s ease-in-out;
            path {
                stroke-width: 14;
                stroke-miterlimit: 10;
                stroke: var(--primary-color);
                fill: var(--primary-color);
            }
        }
        &:hover {
            #logoSvg {
                animation: wiggleLogo 0.5s;
                path {
                    stroke: var(--shadow-color);
                    fill: var(--shadow-color);
                }
            }
        }
    }
    .navToggle {
        display: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 1.2rem;
        &::after,
        &::before,
        div {
            background-color: var(--dark-color);
            border-radius: 2px;
            content: '';
            display: block;
            height: 2px;
            margin: 6px 0;
            transition: all 0.5s ease-in-out, background-color 0.25s;
        }
        div {
            width: 1rem;
        }
        &:hover {
            animation: wiggle 0.5s;
            &::after,
            &::before,
            div {
                background-color: var(--shadow-color);
            }
        }
    }
    .navMenu {
        position: relative;
        display: flex;
        flex-direction: column;
        color: var(--dark-color);
        // box-shadow: 0.7rem 0 0.5rem -0.5rem grey;
        .navItem {
            height: 3rem;
            padding: 0;
            &#workSvg {
                position: relative;
                padding-left: 0.4rem;
                padding-right: 0.6rem;
            }
            &#blogSvg {
                margin-top: 0.4rem;
                padding-left: 0.1rem;
                padding-right: 0.6rem;
            }
            &#aboutSvg {
                padding-left: 0.6rem;
                padding-right: 0.4rem;
            }
            .navSvg {
                display: block;
                height: 100%;
                width: 100%;
                background: transparent;
                path {
                    stroke: var(--dark-color);
                    fill: var(--dark-color);
                }
            }
            // &.active .navSvg path {
            //     stroke: var(--primary-color);
            //     fill: var(--primary-color);
            // }
            &:hover {
                .navSvg {
                    animation: wiggle 0.5s;
                    path {
                        stroke: var(--shadow-color);
                        fill: var(--shadow-color);
                    }
                }
            }
        }
        #workSvg:hover + .workList {
            transform: translateX(0%);
            box-shadow: var(--box-shadow);
        }
    }
    .social {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.25rem;
        padding-right: 0.75rem;
        width: 100%;
        a {
            display: block;
            text-decoration: none;
            color: var(--dark-color);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            &:hover {
                animation: wiggle 0.5s;
                color: var(--shadow-color);
            }
            .icon {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 40rem) {
    .navBar {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        transition: height 0.25s ease-in-out;
        flex-direction: row;
        width: 100%;
        height: 4rem;
        .switchContainer {
            position: fixed;
            bottom: 0;
            right: 0;
            padding-right: 3rem;
            height: 4rem;
            width: auto;
            transition: 0.5s;
        }
        .navLogo {
            position: fixed;
            bottom: 0;
            top: auto;
            left: 0;
            height: 4rem;
            width: 4rem;
        }
        .navMenu {
            transition: opacity 0.25s;
            opacity: 0;
            visibility: hidden;
        }
        .navToggle {
            position: fixed;
            top: auto;
            bottom: 1rem;
            right: 1rem;
            display: block;
        }

        .social {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            flex-direction: row;
            height: 4rem;
            width: 100%;
            margin: 0;
            transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
        }
        &.open {
            z-index: 15;
            height: 100%;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .navLogo {
                z-index: 16;
            }

            .navToggle {
                transition: all 0.5s ease-in-out;
                &::before {
                    transform: translateY(8px) rotate(135deg);
                }

                &::after {
                    transform: translateY(-8px) rotate(-135deg);
                }

                div {
                    transform: scale(0);
                }
            }
            .navMenu {
                margin-top: 4rem;
                height: calc(100% - 8rem);
                transition: opacity 0.5s;
                opacity: 1;
                visibility: visible;
                width: 100%;
                align-items: stretch;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .navItem {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
            }
            .social {
                margin: 0;
                padding: 0;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media (min-width: 40rem) and (max-height: 30rem) {
    .navBar {
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: auto;
        width: 4rem;
        transition: height 0.25s ease-in-out;
        height: 100%;
        .switchContainer {
            position: fixed;
            bottom: 3rem;
            right: auto;
            left: 1rem;
            padding-right: 3rem;
            height: 4rem;
            width: auto;
            transition: 0.5s;
        }
        .navLogo {
            position: fixed;
            top: 0;
            bottom: auto;
            right: auto;
            left: 0;
            height: 4rem;
            width: 4rem;
        }
        .navMenu {
            transition: opacity 0.25s;
            opacity: 0;
            visibility: hidden;
        }
        .navToggle {
            position: fixed;
            top: auto;
            bottom: 1rem;
            left: 1.4rem;
            display: block;
        }

        .social {
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            left: auto;
            flex-direction: column;
            width: 4rem;
            height: 100%;
            margin: 0;
            transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
        }
        &.open {
            z-index: 15;
            height: 100%;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .navLogo {
                z-index: 16;
            }

            .navToggle {
                transition: all 0.5s ease-in-out;
                &::before {
                    transform: translateY(8px) rotate(135deg);
                }

                &::after {
                    transform: translateY(-8px) rotate(-135deg);
                }

                div {
                    transform: scale(0);
                }
            }
            .navMenu {
                height: 100%;
                width: calc(100% - 8rem);
                transition: opacity 0.5s;
                opacity: 1;
                visibility: visible;
                align-items: stretch;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .navItem {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
            }
            .social {
                margin: 0;
                padding: 0;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
