.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    section {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        width: calc(100% - 1rem);
        justify-content: space-around;
        background: var(--light-color);
        align-items: center;
        box-shadow: var(--box-shadow);
        color: var(--dark-color);
        .roll {
            .rollItem {
                background: var(--dark-color);
                color: var(--light-color);
                &:hover {
                    background: var(--shadow-color);
                }
                a {
                    color: var(--light-color);
                }
            }
        }
    }
}
