.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // max-width: 70rem;
    width: 100%;
    section {
        display: flex;
        flex-direction: column;
        width: calc(100% - 1rem);
        margin: 0.5rem;
        justify-content: space-around;
        align-items: center;
    }
    section .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 1rem);
        max-width: 60rem;
        padding: 0 1rem;
        height: 3rem;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-style: none none solid none;
        border-width: 1px;
        border-color: var(--shadow-color-3);
    }
    .fullToggle {
        position: fixed;
        cursor: pointer;
        z-index: 5;
        top: 0.75rem;
        right: 1rem;
        font-size: 2rem;
        &:hover {
            animation: wiggle 0.5s;
            color: var(--shadow-color);
        }
    }
    &.full {
        section {
            width: 100%;
            margin: 0;
            .title {
                margin: 0.5rem 1rem 0 1rem;
                width: calc(100% - 2rem);
            }
        }
    }
}
