.post {
    margin: 0.5rem;
    max-width: calc(100% - 1rem);
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .container {
        width: 100%;
        header {
            border-radius: 1rem;
            width: calc(100% - 2rem);
            margin: 1rem;
            &::after {
                opacity: 0.5;
                max-width: 100%;
                background-color: var(--shadow-color);
                content: '';
                display: block;
                height: 1px;
                margin: 5px 5% 5px 5%;
                transition: all 0.5s ease-in-out;
            }
        }
        .content {
            margin: 1rem;
            width: calc(100% - 2rem);
            p {
                display: flex;
            }
            img {
                max-width: 100%;
            }
            &::after {
                opacity: 0.5;
                max-width: 100%;
                background-color: var(--shadow-color);
                content: '';
                display: block;
                height: 1px;
                margin: 5px 5% 5px 5%;
                transition: all 0.5s ease-in-out;
            }
        }
        background: var(--light-color);
    }
    footer {
        h4 {
            margin: 0;
        }
        width: calc(100% - 2rem);
        background: var(--light-color);
    }
}
