.post {
    margin: 0.5rem;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .container {
        width: 100%;
        header {
            width: calc(100% - 2rem);
            margin: 1rem;
            border-style: none none solid none;
            border-width: 1px;
            border-color: var(--shadow-color-3);
        }
        .content {
            margin: 1rem;
            width: calc(100% - 2rem);
            p {
                display: flex;
            }
            img {
                max-width: 100%;
                border-radius: 1rem;
            }
            border-style: none none solid none;
            border-width: 1px;
            border-color: var(--shadow-color-3);
        }
        background: var(--light-color);
    }
    footer {
        h4 {
            margin: 0;
        }
        width: calc(100%);
        padding: 0 1rem;
        background: var(--light-color);
    }
}
