.roll {
    width: calc(100% - 1rem);
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .rollItem {
        position: relative;
        background: var(--dark-color);
        color: var(--light-color);
        align-items: center;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        height: 420px;
        overflow: hidden;
        .featuredImage {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: all 0.25s ease-in-out;
        }
        .itemContent {
            z-index: 1;
            position: absolute;
            overflow: hidden;
            background: var(--dark-color);
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1rem;
            p {
                margin: 0;
                margin-bottom: 1rem;
            }
        }
        a {
            transform: translateY(100%);
            margin: 0;
            text-decoration: none;
            color: var(--dark-color);
            background: var(--light-color);
            padding: 0;
            width: 100%;
            transition: all 0.25s ease-in-out;
            &:hover {
                background: var(--shadow-color);
            }
            opacity: 0;
            visibility: hidden;
            height: 0;
            display: block;
        }
        &:hover {
            a {
                height: auto;
                padding: 0.5rem;
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
            }
            .featuredImage {
                transform: scale(1.1);
            }
        }


    }
}

@media (max-width: 70rem) {
    .roll {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 40rem) {
    .roll {
        grid-template-columns: 1fr;
        .rollItem {
            height: 360px;
            a {
                height: auto;
                padding: 0.5rem;
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
            }
        }
    }
}
