.roll {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .rollItem {
        transition: all 0.25s ease-in-out;
        overflow: hidden;
        border-radius: 1rem;
        position: relative;
        color: var(--dark-color);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem;
        box-shadow: var(--box-shadow);
        background: var(--shadow-color);
        .rollInner {
            display: flex;
            width: 100%;
            height: 100%;
        }
        .featuredImage {
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
        }
        .itemContainer {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .itemContent {
                transition: all 0.25s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 0.5rem;
                z-index: 1;
                width: 100%;
                background: var(--light-color);
                p {
                    &.itemDate {
                        font-size: 0.75rem;
                    }
                    text-align: center;
                    margin: 0;
                    font-weight: bold;
                }
            }
        }
        .itemDescription {
            display: none;
        }
        a {
            // transform: translateY(100%);
            margin: 0;
            text-decoration: none;
            border-radius: 0.5rem;
            color: var(--light-color);
            background: var(--dark-color);
            padding: 0;
            width: 100%;
            transition: opacity 0.25s ease-in-out;
            text-align: center;
            &:hover {
                color: var(--shadow-color);
            }
            opacity: 0;
            visibility: hidden;
            height: 0;
            display: block;
        }
        &:hover {
            a {
                height: auto;
                padding: 0.5rem;
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
            }
        }
    }
}

@media (min-width: 40rem) and (min-height: 30rem) {
    .roll {
        .rollItem:hover {
            .itemContainer {
                .itemContent {
                    padding: 1rem;
                    p {
                        margin-bottom: 0.5rem;
                    }
                }
            }
            .itemDescription {
                display: none;
            }
        }
        .rollItem:not(:hover) {
            .itemContainer {
                .itemContent {
                    background: var(--light-color-3);
                }
            }
        }
    }
}

@media (max-width: 40rem), (max-height: 30rem) {
    .roll {
        .rollItem {
            .featuredImage {
                margin-bottom: 4rem;
            }
            .itemContainer {
                .itemContent {
                    p {
                        margin-bottom: 0.5rem;
                    }
                }
            }
            a {
                height: auto;
                padding: 0.5rem;
                opacity: 1;
                visibility: visible;
                // transform: translateY(0%);
            }
        }
    }
}

@media (max-width: 70rem) {
    .roll {
        grid-template-columns: 1fr 1fr;
    }
}
