.switchContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 4rem;
    width: 100%;
    padding-right: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    &:hover {
        background-color: var(--shadow-color);
    }
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--light-color);
}

input:checked + .slider:before {
    transform: translateX(16px);
}

input:checked + .slider {
    &:hover {
        background-color: var(--shadow-color);
    }
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

