.workRoll {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .rollItem {
        transition: all 0.25s ease-in-out;
        overflow: hidden;
        position: relative;
        color: var(--dark-color);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem;
        background: var(--shadow-color);
        .itemContainer {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .itemImage {
            width: 100%;
            height: 100%;
        }
        .itemContent {
            position: absolute;
            transition: all 0.25s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 1rem;
            width: 80%;
            height: 80%;
            padding: 0.5rem;
            opacity: 0;
            z-index: 1;
            background: var(--light-color-8);
            color: var(--dark-color);
            p {
                &.itemDate {
                    font-size: 0.75rem;
                }
                text-align: center;
                margin: 0.5rem 0;
                font-weight: bold;
            }
            .eyeIcon {
                position: absolute;
                font-size: 1.5rem;
                right: 0.5rem;
                bottom: 0.5rem;
            }
        }
        transition: all 0.25s ease-in-out;
        &:hover {
            .itemContent {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 50rem) {
    .workRoll {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 50rem) {
    .workRoll.full {
        grid-template-columns: 1fr;
    }
}
