.workRoll {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .rollItem {
        transition: all 0.25s ease-in-out;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        height: 20rem;
        .itemContainer {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .itemContent {
            position: absolute;
            transition: all 0.25s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 1rem;
            width: 80%;
            height: 80%;
            padding: 0.5rem;
            opacity: 0;
            z-index: 1;
            background: var(--light-color-8);
            color: var(--dark-color);
            p {
                &.itemDate {
                    font-size: 0.75rem;
                }
                text-align: center;
                margin: 0.5rem 0;
                font-weight: bold;
            }
        }
        transition: all 0.25s ease-in-out;
        &:hover {
            .itemContent {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 40rem) {
    .workRoll {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 70rem) {
    .workRoll {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 40rem) and (min-height: 30rem)  {
    .workRoll.full {
        display: flex;
        flex-direction: column;
        .rollItem {
            scroll-snap-align: center;
            margin: 0;
            width: 100%;
            height: 100vh;
            .itemContainer,
            .itemContainer::after,
            .itemContainer::before {
                background-attachment: fixed;
            }
            .itemContent {
                width: calc(100% - 1rem);
                max-width: 60rem;
                height: 10rem;
                bottom: 0;
                border-radius: 0;
            }
        }
    }
}
